.portfolio {
    padding: 50px;
    text-align: center;
    background-color: darkorange;
  }
  
  .portfolio-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .item {
    background-color: gold;
    margin: 10px;
    padding: 20px;
    flex: 1 1 200px;
    text-align: center;
  }
  